.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

body {
    font-family: monospace;
}


.companylogo {
  border-radius: 30px;
  display: inline-flex;
  margin-top: 50px;
}

.desc1 {
  font-size: 45px;
  font-family: pixel;
}

@font-face {
  font-family: pixel;
  src: url(../fonts/mini_pixel-7.ttf);
}